
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

/*FOOTER*/

hr {
    width: 80%;
    border: 1px solid #E04545;
}

/*FOOTER*/

#pie {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12%;
    margin-top: 30px;
	font-family: 'Raleway', sans-serif;
}

#footer_nav {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 40%;
	flex-wrap: wrap;
}

.item_footer_nav {
    text-decoration: none;
    text-emphasis: none;
    color: #7c7a7a;
	font-size: 1.2em;
	transition: color 0.3s ease;
	margin: 5px;
}

.item_footer_nav:hover, .item_footer_nav:focus {
	color: #E04545;
}

#footer_social {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 60%;
	padding: 10px;
}

.footer_item_link {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border: 1px solid #7c7a7a;
	border-radius: 10px;
	transition: transform 0.3s ease-in-out;

}

.footer_item_img {
    width: 35px;
}

/*Cuando el ratón este encima de este elemento*/
.footer_item_link:hover, .footer_item_link:focus {
    transform: translateY(-10px);
}