@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

/*TODO EL DOCUMENTO*/

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

/*MAIN*/

main {
	display: grid;
	grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
	padding: 30px;
}
.item_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #7c7a7a;
	margin: 20px;
    overflow: hidden;
}

.img_fondo_item {
	width: 100%;
	height: 200px;
	background-size: cover;
    background-position: center;
    transition: width 0.3s ease, filter 0.3s ease;
}

.item_container:hover .img_fondo_item, .item_container:focus .img_fondo_item {
    width: 107%;
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
}

#item1 .img_fondo_item{
	background-image: url("img/html5.png");
}

#item2 .img_fondo_item{
	background-image: url("img/python.jpeg");
}

#item3 .img_fondo_item{
	background-image: url("img/html_css_js.png");
}

#item4 .img_fondo_item{
	background-image: url("img/php_mysql.jpg");
}

.parrafo_item {
	height: 100px;
	overflow: auto;
}

.parrafo_item::-webkit-scrollbar {
	width: 1em;
	
}

.parrafo_item, .btn_item {
	margin: 10px 20px;
	text-align: justify;
}
	

.btn_item {
	font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	outline: none;
	border: 1px #E04545 solid;
	width: 95%;
	text-align: center;
	color: #E04545;
	background-color: white;
	cursor: pointer;
	height: 40px;
	transition: color 0.3s ease-in, background-color 0.3s ease-in;
}

/*Cuando el ratón este encima de este elemento*/
.btn_item:hover, .btn_item:focus {
	color: white;
	background-color: #E04545;
}

/*Media querys*/

@media screen and (max-width: 845px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}

@media screen and (max-width: 450px) {
    .item_container:hover .img_fondo_item {
        width: 400px;
    }
}

@media screen and (max-width: 380px) {
    .btn_item {
        width: 90%;
    }
}