@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

/*TODO EL DOCUMENTO*/

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

/*HEADER*/

header {
    padding: 15px;
    height: 70%;
    background: url(img/fondo_header.jpeg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}

#img_menu {
    padding: 5px;
    border-radius: 7px;
    transition: opacity 0.35s ease-in-out;
    height: 32px;
    z-index: 0;
}

#boton_menu {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: 3px solid white;
    background-color: transparent;
}

#boton_menu::before, #boton_menu::after {
    content: "";
    display: block;
    height: 2.8px;
    width: 32px;
    background-color: white;
    position: absolute;
    transition: transform 0.3s ease-in-out;
}

.hacerAnimacion::after {
    transform: rotate(45deg);
}

.hacerAnimacion::before {
    transform: rotate(-45deg);
}

#nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    z-index: 0;
    overflow: hidden;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

.item_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    height: 75px;
    width: 100%;
    background-color: #484848;
    text-decoration: none;
    text-emphasis: none;
    color: white;
    border-bottom: 1px solid white;
    z-index: 0;
}


.item_menu::before {
    content: " ";
    position: absolute;
    display: block;
    height: 75px;
    width: 100%;
    background-color: #E04545;
    transform: translateY(500px);
    z-index: -1;
    transition: transform 0.4s ease;

}

.item_menu:hover::before {
    transform: translateY(0%);
}


/*MAIN*/

main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 30px;
}
.item_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid black;
	margin: 20px;
	height: 400px;
}

.img_fondo_item {
	width: 100%;
	height: 55%;
	background-size: cover;
	background-position: center;
}

#item1 .img_fondo_item{
	background-image: url("img/html5.jpg");
}

#item2 .img_fondo_item{
	background-image: url("img/python.jpeg");
}

#item3 .img_fondo_item{
	background-image: url("img/html_css_js.png");
}

#item4 .img_fondo_item{
	background-image: url("img/php_mysql.jpg");
}

.parrafo_item, .btn_item {
	margin: 10px 20px;
	text-align: justify;
}

.btn_item {
	font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	outline: none;
	border: 1px #E04545 solid;
	width: 95%;
	text-align: center;
	color: #E04545;
	background-color: white;
	cursor: pointer;
	height: 40px;
	transition: color 0.3s ease-in, background-color 0.3s ease-in;
}

.btn_item:hover {
	color: white;
	background-color: #E04545;
}