@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

/*TODO EL DOCUMENTO*/
/*GRIS - #7c7a7a  ROJO - #E04545*/
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

/*MAIN*/

main {
    display: grid;
    grid-template-areas:"listas main aside";
    grid-auto-rows: 1fr;
    grid-gap: 10px;
}

#listas_nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    grid-area: listas;
    margin: 20px 20px 50px 20px;
    height: 60%;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}

.link_nav_main {
    display: flex;
    align-items: center;
    border: 1px solid #E04545;
    margin: 5px 5px 5px 10px;
    padding: 10px;
    color: #E04545;
    text-decoration: none;
    position: relative;
    width: 250px;
    z-index: 0;
    transition: color 0.3s ease-in-out;
    height: 30px;
}

.link_nav_main::before {
    content: "";
    display: inline-block;
    height: 40px;
    width: 10px;
    border: 1px solid #E04545;
    padding: 0;
    margin: 0;
    background-color: #E04545;
    position: absolute;
    z-index: -1;
    transform: translateX(-20px);
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

.sub {
    margin-left: 30px;
}

.link_nav_main:hover {
    color: #FFF;
}

.link_nav_main:hover::before{
    width: 280px;
}

#section_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: main;
}

.item_article {
    width: 80%;
    border: 1px solid #7c7a7a;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-size: 2em;
}

.img_item_article {
    width: 102%;
}

.subtitulo_item_article {
    text-align: center;
    font-size: 1.3em;
}

.desc_item_article {
    text-align: justify;
}

#aside {
    grid-area: aside;
}
