@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

/*TODO EL DOCUMENTO*/

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

/*PARA EL MAIN DONDE ESTA EL FORMULARIO Y EL ASIDE*/

#container_main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

/*PARA EL CONTENEDOR DEL FORMULARIO*/

#main_form {
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}

/*CAMPOS DE TEXTO DEL FORMULARIO*/
form input {
    outline: none;
    font-family: 'Raleway', sans-serif;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

/*TAMAÑO 3EM PARA EL TITULO DEL DEL MAIN (H1)*/
#main_titulo {
    font-size: 3em;
}

#textarea_form, .container_input {
    margin: 5px 0;
}

/*PARA LOS TEXTOS DE LOS CUADROS DE TEXTO INPUT (LOS DOS QUE HAY QUE NO ES EL TEXTAREA)*/
#texto_emisor, #texto_asunto {
    display: block;
    padding: 5px;
    width: 70px;
    position: absolute;
    height: 20px;
}

/*PARA LO MISMO TEXTO_EMISOR PERO EN VEZ DEL TEXTO PARA LOS CUADROS DE TEXTOS EN SÍ*/
#emisor_form, #asunto_form {
    display: flex;
    width: 100%;
    border: 1px solid #7c7a7a;
    height: 20px;
    padding: 5px;
    margin: 10px;
    transition: border 0.3s ease;
    font-size: 1.1em;
}


#textarea_form {
    width: 100%;
    outline: none;
    border: 1px solid #7c7a7a;
    resize: none;
    padding: 5px;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    transition: border 0.3s ease;
    font-size: 1.1em;
}

/*SELECTORES*/
#textarea_form:focus, #emisor_form:focus, #asunto_form:focus {
    border: 1px solid #E04545;
}

#enviar_form {
    width: 102%;
    padding: 8px;
    color: #E04545;
    background-color: #FFF;
    border: 1px solid #E04545;
    cursor: pointer;
	transition: color 0.3s ease-in, background-color 0.3s ease-in;
    font-size: 1.2em;
}

#enviar_form:hover, #enviar_form:focus {
    color: #FFF;
    background-color: #E04545;
}

/*Media querys*/

@media screen and (max-width: 900px) {
    /*Para el texto 'Enviame tu correo aquí'*/
    #main_titulo {
        text-align: center;
    }

    #container_main {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 480px) {
    #main_form {
        width: 90%;
    }

    #imagen_python, #imagen_bt4 {
        width: 300px;
    }

    .aside_section_link {
        width: 290px;
    }
}

@media screen and (max-width: 370px) {
    #imagen_python, #imagen_bt4 {
        width: 250px;
        height: 150px;
    }

    .aside_section_link {
        width: 240px;
    }
}